

<div style="display: flex;
            justify-content: center;">
    <div style="text-align:center;height:70px;width:100px;background-color:black;color:white;border-radius: 0px 0px 100px 100px;padding-top: 10px;">NOW<br />Flock IT</div>
</div>

<div style="display: flex;
            justify-content: center;">
    <MudTimeline>

        <MudTimelineItem Color="Color.Info" Size="Size.Large">
            <ItemOpposite>
                <MudText Color="Color.Info" Typo="Typo.h5">Nov-2021</MudText>
            </ItemOpposite>
            <ItemDot>
                <MudIcon Icon="@Icons.Custom.Brands.Awesome" />
            </ItemDot>
            <ItemContent>
                <MudText Color="Color.Info" Typo="Typo.h6" GutterBottom="true">Flock IT</MudText>
                <MudText>Desarrollador SSR. Full Stack <b>.NET</b></MudText>
            </ItemContent>
        </MudTimelineItem>

        <MudTimelineItem Color="Color.Info" Size="Size.Medium" TimelineAlign="TimelineAlign.End">
            <ItemOpposite>
                <MudText Color="Color.Info" Typo="Typo.h5">Jul-2021</MudText>
            </ItemOpposite>
            <ItemDot>
                <MudIcon Icon="@Icons.Custom.Brands.MicrosoftVisualStudio" />
            </ItemDot>
            <ItemContent>
                <MudText Color="Color.Info" Typo="Typo.h6" GutterBottom="true">Flock IT</MudText>
                <MudText>Desarrollador Jr. Full Stack <b>.NET</b></MudText>
            </ItemContent>
        </MudTimelineItem>

        <MudTimelineItem Color="Color.Tertiary" Size="Size.Large" TimelineAlign="TimelineAlign.Start">
            <ItemOpposite>
                <MudText Color="Color.Tertiary" Typo="Typo.h5">May-2021</MudText>
            </ItemOpposite>
            <ItemDot>
                <MudIcon Icon="@Icons.Material.Filled.School" />
            </ItemDot>
            <ItemContent>
                <MudText Color="Color.Tertiary" Typo="Typo.h6" GutterBottom="true" Style="padding-left: 15px;">Universidad Empresarial Siglo 21</MudText>
                <MudText Style="padding-left: 15px;"><b>Licenciado en Informática</b></MudText>
            </ItemContent>
        </MudTimelineItem>

        <MudTimelineItem Color="Color.Info" Size="Size.Medium" TimelineAlign="TimelineAlign.End">
            <ItemOpposite>
                <MudText Color="Color.Info" Typo="Typo.h5">May-2019</MudText>
            </ItemOpposite>
            <ItemDot>
                <MudIcon Icon="@Icons.Custom.Brands.MicrosoftVisualStudio" />
            </ItemDot>
            <ItemContent>
                <MudText Color="Color.Info" Typo="Typo.h6" GutterBottom="true">Zarcom : Technology Solutions</MudText>
                <MudText>Analista Desarrollador <b>.NET</b> SQL Desarrollador FullStack</MudText>
            </ItemContent>
        </MudTimelineItem>

        <MudTimelineItem Color="Color.Tertiary" Size="Size.Large" TimelineAlign="TimelineAlign.Start">
            <ItemOpposite>
                <MudText Color="Color.Tertiary" Typo="Typo.h5">Mar-2019</MudText>
            </ItemOpposite>
            <ItemDot>
                <MudIcon Icon="@Icons.Material.Filled.School" />
            </ItemDot>
            <ItemContent>
                <MudText Color="Color.Tertiary" Typo="Typo.h6" GutterBottom="true" Style="padding-left: 15px;">Universidad Empresarial Siglo 21</MudText>
                <MudText Style="padding-left: 15px;"><b>Analista Universitario en Sistemas de Computación</b></MudText>
            </ItemContent>
        </MudTimelineItem>



    </MudTimeline>

</div>

